@use '../../Style/Variables.scss' as v;
@import '../../Style/Responsive/Responsive.scss';

.Navbar{
    .nav{
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$main-backgroud-color ;
        padding: 20px 0px;
        transition: all .2s ease-in-out;
        z-index: 2;

        @include large_phone{
            align-items: center;
            flex-direction: column;
        }

        .item{
            color: white;
            font-family: v.$navbar-text;
            font-size: 1.3rem;
            text-transform: uppercase;
            margin: 0px 10px;
            letter-spacing: 2px;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover{
                color: v.$main-color;
            }

            @include large_phone{
                margin: 70px 0px;
                font-size: 2rem;
                display: none;
            }
        }

        .item_active{
            display: block;
        }
        .hamburger_icon{
            font-size: 2.5rem;
            color: white;
            display: none;
    

            @include large_phone{
                display: block;
            }
        }

        .close_icon{
            font-size: 2.5rem;
            color: white;
            position: absolute;
            top: 25px;
            display: none;


            @include large_phone{
                display: block;
            }
        }

    }

    .Navbar_active{
        height: 100%;
    }

    img{
        width: 100%;
        height: 1000px;
    }

}



